* { font-size: 28px;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body {
    background: url(https://img.freepik.com/fotos-premium/patron-fondo-textura-marmol-blanco-alta-resolucion_118474-124.jpg?w=826);

}
header{
    text-align: center;

}
strong{
    font-size: 15px;
}
.linkperfil {
    font-size: 14px;
    margin: 0;
}
.perfil {
    width: 150px;
    height: 150px;
border-radius: 50%;

}
section{
    text-align: center;
}
nav{
    display:inline-block;
    }
    nav:hover {
    background-color: red;
    }
.item {
    height: 50px;
    padding: 5px ;
}
.presentacion {
    display: block;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 371px;
    display: inline-block;
}
.listas{
    padding: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}
.boton{
font-size: 20px;
height: 60px;
width: 150px;
border-radius: 15%;
border-radius: 11px 11px 11px 11px;
-webkit-border-radius: 11px 11px 11px 11px;
-moz-border-radius: 11px 11px 11px 11px;
border: 5px outset #000000;
margin: 10px;
display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}
.hr{
    margin-bottom: 0px;
}
footer{
    margin-bottom: 0px;
 text-align: center;
}
.boton a:link:visited { 
    text-decoration:none; 
} 
.boton:hover{
    background-color: red;
}
